@font-face {
  font-family: "cocogoose";
  src: url("../../assets/fonts/Cocogoose_trial.otf");
  font-weight: 700;
}
@font-face {
  font-family: "cocogoose";
  src: url("../../assets/fonts/cocogoose-light.ttf");
  font-weight: 400;
}
h1 {
  font-family: cocogoose, sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #0771b8;
  margin: auto;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 64px;
  }
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #272a31;
  box-shadow: 0 24px 4px -24px #0771b8;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 30px;
  }
}

span {
  display: block;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #272a31;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 15px;
  }
}

.intro {
  font-family: "Lato", sans-serif;
  color: #0771b8;
  font-size: 20px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .intro {
    font-size: 30px;
  }
}

.content {
  border: solid 1px white;
  background-color: rgba(7, 113, 184, 0.3);
  padding: 20px;
}

.btn {
  background-color: #0771b8;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  main {
    padding-top: 150px;
  }
}

body {
  max-width: 1024px;
  background-image: url(".././assets/imgs/ilustracion_colegio_elan_transparent.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

header {
  max-width: 1024px;
}
header .mobile-navbar {
  color: #272a31;
}
header .dropdown-toggle::after {
  display: none;
}
header .dropdown i {
  color: #272a31;
}
header .dropdown .dropdown-item {
  color: #0771b8;
  font: 700 16px/20px cocogoose, sans-serif;
}
header .nav-link {
  color: #0771b8;
  font: 700 16px/20px cocogoose, sans-serif;
}
header .nav-black {
  background-color: black;
  color: white;
}
header .desktop-navbar {
  max-width: 1024px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  header .nav-mypage {
    display: block !important;
  }
}

footer .top-footer {
  background-image: url(".././assets/imgs/3d-grunge-room-interior-with-spotlight-and-smoky-atmosphere-background.jpg");
}
footer .top-footer .col {
  width: 40%;
}
footer .top-footer img {
  width: 100%;
}
footer .top-footer h3 {
  color: white;
}

.introduction {
  font-family: cocogoose, sans-serif;
}
.introduction h1 {
  width: 100%;
  text-align: left;
}
.introduction .title {
  color: #ec5242;
  font-size: 32px;
  font-weight: 700;
}
.introduction .date {
  font-family: cocogoose, sans-serif;
  color: #272a31;
  font-size: 22px;
  font-weight: 700;
}
.introduction .place {
  font-size: 12px;
}

.program {
  background-image: url(".././assets/imgs/3d-grunge-room-interior-with-spotlight-and-smoky-atmosphere-background.jpg");
  color: white;
  margin: auto;
  width: 90%;
}
.program h3 {
  color: white;
}
.program .program-table .card-heading {
  color: #0771b8;
  font-weight: 900;
  margin-left: 1rem;
}
.program .program-table .row {
  background-color: rgba(211, 211, 211, 0.4);
}
.program .program-table .card-text {
  text-align: left;
  padding-left: 1rem;
  color: white;
}
@media screen and (min-width: 768px) {
  .program .program-table .card-text {
    padding-left: 0;
  }
}
.program .program-table img {
  width: 50px;
}
@media screen and (min-width: 768px) {
  .program .program-table {
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
  }
  .program .program-table .card-heading {
    padding: 0;
    margin: 0;
  }
  .program .program-table .card-text {
    text-align: center;
    padding: 0.5rem;
  }
}

.speaker .chess {
  width: 100%;
}
.speaker .photo {
  position: absolute;
  top: 20px;
  left: 33px;
  width: 100%;
}
.speaker .name {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.speaker .title {
  font-family: "Lato", sans-serif;
  color: #0771b8;
  font-style: italic;
  box-shadow: 0 24px 4px -24px #0771b8;
}

.transition .letter-E {
  position: absolute;
  top: 80px;
  left: -100%;
}
@media (min-width: 1024px) {
  .transition .letter-E1 {
    position: absolute;
    transform: rotate(360deg);
    transition: top 2s, left 2s, transform 2s;
    transition-timing-function: ease-in-out;
    top: 16.6%;
    left: 32.5vw;
  }
  .transition .letter-E1 img {
    width: 50px;
  }
}
.transition .letter-L {
  position: absolute;
  top: 200%;
}
@media (min-width: 1024px) {
  .transition .letter-L1 {
    position: absolute;
    transform: rotate(360deg);
    transition: top 2s, left 2s, transform 2s;
    transition-timing-function: ease-in-out;
    top: 16.6%;
    left: 37.5vw;
  }
  .transition .letter-L1 img {
    width: 50px;
  }
}
.transition .letter-A {
  position: absolute;
  top: 200%;
  left: 200%;
}
.transition .letter-A1 {
  position: absolute;
  transform: rotate(360deg);
  transition: top 2s, left 2s, transform 2s;
  transition-timing-function: ease-in-out;
  top: 120px;
  left: 45%;
}
.transition .letter-A1 img {
  width: 32px;
}
@media (min-width: 1024px) {
  .transition .letter-A1 {
    position: absolute;
    transform: rotate(360deg);
    transition: top 2s, left 2s, transform 2s;
    transition-timing-function: ease-in-out;
    top: 16.6%;
    left: 42.5vw;
  }
  .transition .letter-A1 img {
    width: 50px;
  }
}
.transition .letter-N {
  position: absolute;
  top: 200%;
  left: 50%;
}
.transition .letter-N1 {
  position: absolute;
  transform: rotate(360deg);
  transition: top 2s, left 2s, transform 2s;
  transition-timing-function: ease-in-out;
  top: 120px;
  left: 55%;
}
.transition .letter-N1 img {
  width: 32px;
}
@media (min-width: 1024px) {
  .transition .letter-N1 {
    position: absolute;
    transform: rotate(360deg);
    transition: top 2s, left 2s, transform 2s;
    transition-timing-function: ease-in-out;
    top: 16.6%;
    left: 47.5vw;
  }
  .transition .letter-N1 img {
    width: 50px;
  }
}
.transition .marble {
  position: absolute;
  animation: marble-bounce 2s ease-in;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  top: 13.6%;
  left: 50.5vw;
}
.transition .marble img {
  width: 50px;
}
@keyframes marble-bounce {
  0% {
    top: 13.6%;
    left: 50.5vw;
  }
  60% {
    top: 35%;
    left: 98vw;
  }
  100% {
    top: 92%;
    left: 94vw;
  }
}
.transition .number2 {
  position: absolute;
  animation: year-appear 0.5s ease-in;
  animation-delay: 8s;
  animation-fill-mode: both;
  top: 91%;
  left: 88vw;
}
.transition .marble-2 {
  position: absolute;
  animation: year-appear 0.5s ease-in;
  animation-delay: 8.5s;
  animation-fill-mode: both;
  top: 92%;
  left: 84vw;
}
.transition .number2-2 {
  position: absolute;
  animation: year-appear 0.5s ease-in;
  animation-delay: 9s;
  animation-fill-mode: both;
  top: 91%;
  left: 78vw;
}
@keyframes year-appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.transform-2 {
  font: 900 40px/40px cocogoose, sans-serif;
  color: black;
}
.transform-2 .where {
  display: none;
}
.transform-2 .where2 {
  position: absolute;
  display: block;
  color: black;
  top: -100px;
  left: 40vw;
}
.transform-2 .number2-2 {
  position: absolute;
  animation: year-appear 0.5s ease-in;
  animation-delay: 9s;
  animation-fill-mode: both;
  top: 91%;
  left: 78vw;
}
@keyframes year-appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.transform-2 .everything {
  display: none;
}
.transform-2 .everything2 {
  position: absolute;
  display: block;
  color: black;
  top: -100px;
  left: 40vw;
}
.transform-2 .is {
  display: none;
}
.transform-2 .is2 {
  position: absolute;
  display: block;
  color: black;
  top: -100px;
  left: 40vw;
}
.transform-2 .possible {
  display: none;
}
.transform-2 .possible2 {
  position: absolute;
  display: block;
  color: black;
  top: -100px;
  left: 40vw;
}

footer {
  position: absolute;
  bottom: 0;
}