@font-face {
  font-family: "cocogoose";
  src: url("../../assets/fonts/Cocogoose_trial.otf");
  font-weight: 700;
}
@font-face {
  font-family: "cocogoose";
  src: url("../../assets/fonts/cocogoose-light.ttf");
  font-weight: 400;
}
h1 {
  font-family: cocogoose, sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #0771b8;
  margin: auto;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 64px;
  }
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #272a31;
  box-shadow: 0 24px 4px -24px #0771b8;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 30px;
  }
}

span {
  display: block;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #272a31;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 15px;
  }
}

.intro {
  font-family: "Lato", sans-serif;
  color: #0771b8;
  font-size: 20px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .intro {
    font-size: 30px;
  }
}

.content {
  border: solid 1px white;
  background-color: rgba(7, 113, 184, 0.3);
  padding: 20px;
}

.btn {
  background-color: #0771b8;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  main {
    padding-top: 150px;
  }
}

body {
  max-width: 1024px;
  background-image: url(".././assets/imgs/ilustracion_colegio_elan_transparent.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

header {
  max-width: 1024px;
}
header .mobile-navbar {
  color: #272a31;
}
header .dropdown-toggle::after {
  display: none;
}
header .dropdown i {
  color: #272a31;
}
header .dropdown .dropdown-item {
  color: #0771b8;
  font: 700 16px/20px cocogoose, sans-serif;
}
header .nav-link {
  color: #0771b8;
  font: 700 16px/20px cocogoose, sans-serif;
}
header .nav-black {
  background-color: black;
  color: white;
}
header .desktop-navbar {
  max-width: 1024px;
  margin: 0 auto;
}

footer .top-footer {
  background-image: url(".././assets/imgs/3d-grunge-room-interior-with-spotlight-and-smoky-atmosphere-background.jpg");
}
footer .top-footer .col {
  width: 40%;
}
footer .top-footer img {
  width: 100%;
}
footer .top-footer h3 {
  color: white;
}