@font-face {
  font-family: "cocogoose";
  src: url("../../assets/fonts/Cocogoose_trial.otf");
  font-weight: 700;
}
@font-face {
  font-family: "cocogoose";
  src: url("../../assets/fonts/cocogoose-light.ttf");
  font-weight: 400;
}
body {
  max-width: 1024px;
  background: lightblue url("../../assets/imgs/ilustracion_colegio_elan_transparent.png") no-repeat fixed center;
  background-size: cover;
}

header .mobile-navbar {
  color: #0771b8;
}
header .dropdown i {
  color: #0771b8;
}
header .dropdown .dropdown-item {
  color: #0771b8;
  font: 700 16px/20px cocogoose, sans-serif;
}
header .nav-link {
  color: #0771b8;
  font: 700 16px/20px cocogoose, sans-serif;
}

.introduction {
  font-family: cocogoose, sans-serif;
}
.introduction .intro {
  font-family: "Lato", sans-serif;
  color: #0771b8;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 20px;
  font-weight: 400;
}
.introduction .title {
  color: #0771b8;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 32px;
  font-weight: 700;
}
.introduction .content {
  font-size: 12px;
  background-color: rgba(7, 113, 184, 0.3);
}
.introduction .date {
  font-size: 22px;
  font-weight: 700;
}
.introduction .place {
  font-size: 12px;
}

.transition .letter-E {
  top: 80px;
  left: -100%;
}
.transition .letter-E1 {
  position: absolute;
  transform: rotate(360deg);
  transition: top 2s, left 2s, transform 2s;
  transition-timing-function: ease-in-out;
  top: 120px;
  left: 25%;
}
.transition .letter-E1 img {
  width: 32px;
}
@media (min-width: 768px) {
  .transition .letter-E1 {
    position: absolute;
    transform: rotate(360deg);
    transition: top 2s, left 2s, transform 2s;
    transition-timing-function: ease-in-out;
    top: 100px;
    left: 27%;
  }
  .transition .letter-E1 img {
    width: 44px;
  }
}
@media (min-width: 1024px) {
  .transition .letter-E1 {
    position: absolute;
    transform: rotate(360deg);
    transition: top 2s, left 2s, transform 2s;
    transition-timing-function: ease-in-out;
    top: 100px;
    left: 32%;
  }
  .transition .letter-E1 img {
    width: 50px;
  }
}
.transition .letter-L {
  top: 200%;
}
.transition .letter-L1 {
  position: absolute;
  transform: rotate(360deg);
  transition: top 2s, left 2s, transform 2s;
  transition-timing-function: ease-in-out;
  top: 120px;
  left: 35%;
}
.transition .letter-L1 img {
  width: 32px;
}
@media (min-width: 768px) {
  .transition .letter-L1 {
    position: absolute;
    transform: rotate(360deg);
    transition: top 2s, left 2s, transform 2s;
    transition-timing-function: ease-in-out;
    top: 100px;
    left: 34%;
  }
  .transition .letter-L1 img {
    width: 44px;
  }
}
@media (min-width: 1024px) {
  .transition .letter-L1 {
    position: absolute;
    transform: rotate(360deg);
    transition: top 2s, left 2s, transform 2s;
    transition-timing-function: ease-in-out;
    top: 100px;
    left: 38%;
  }
  .transition .letter-L1 img {
    width: 50px;
  }
}
.transition .letter-A {
  top: 200%;
  left: 200%;
}
.transition .letter-A1 {
  position: absolute;
  transform: rotate(360deg);
  transition: top 2s, left 2s, transform 2s;
  transition-timing-function: ease-in-out;
  top: 120px;
  left: 45%;
}
.transition .letter-A1 img {
  width: 32px;
}
@media (min-width: 768px) {
  .transition .letter-A1 {
    position: absolute;
    transform: rotate(360deg);
    transition: top 2s, left 2s, transform 2s;
    transition-timing-function: ease-in-out;
    top: 100px;
    left: 41%;
  }
  .transition .letter-A1 img {
    width: 44px;
  }
}
@media (min-width: 1024px) {
  .transition .letter-A1 {
    position: absolute;
    transform: rotate(360deg);
    transition: top 2s, left 2s, transform 2s;
    transition-timing-function: ease-in-out;
    top: 100px;
    left: 44%;
  }
  .transition .letter-A1 img {
    width: 50px;
  }
}
.transition .letter-N {
  top: 200%;
  left: 50%;
}
.transition .letter-N1 {
  position: absolute;
  transform: rotate(360deg);
  transition: top 2s, left 2s, transform 2s;
  transition-timing-function: ease-in-out;
  top: 120px;
  left: 55%;
}
.transition .letter-N1 img {
  width: 32px;
}
@media (min-width: 768px) {
  .transition .letter-N1 {
    position: absolute;
    transform: rotate(360deg);
    transition: top 2s, left 2s, transform 2s;
    transition-timing-function: ease-in-out;
    top: 100px;
    left: 48%;
  }
  .transition .letter-N1 img {
    width: 44px;
  }
}
@media (min-width: 1024px) {
  .transition .letter-N1 {
    position: absolute;
    transform: rotate(360deg);
    transition: top 2s, left 2s, transform 2s;
    transition-timing-function: ease-in-out;
    top: 100px;
    left: 50%;
  }
  .transition .letter-N1 img {
    width: 50px;
  }
}
.transition .marble {
  position: absolute;
  animation: marble-bounce 2s ease-in;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  top: 60px;
  left: 54%;
}
.transition .marble img {
  width: 50px;
}
@keyframes marble-bounce {
  0% {
    top: 55px;
    left: 55%;
  }
  100% {
    top: 90%;
    left: 90%;
  }
}
.transition .number2 {
  position: absolute;
  animation: year-appear 0.5s ease-in;
  animation-delay: 8s;
  animation-fill-mode: both;
  top: 89%;
  left: 83%;
}
.transition .marble-2 {
  position: absolute;
  animation: year-appear 0.5s ease-in;
  animation-delay: 8.5s;
  animation-fill-mode: both;
  top: 90%;
  left: 78%;
}
.transition .number2-2 {
  position: absolute;
  animation: year-appear 0.5s ease-in;
  animation-delay: 9s;
  animation-fill-mode: both;
  top: 89%;
  left: 71%;
}
@keyframes year-appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}