@font-face {
  font-family: "cocogoose";
  src: url("../../assets/fonts/Cocogoose_trial.otf");
  font-weight: 700;
}
@font-face {
  font-family: "cocogoose";
  src: url("../../assets/fonts/cocogoose-light.ttf");
  font-weight: 400;
}
h2 {
  font-family: cocogoose, sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #0771b8;
  margin: auto;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #272a31;
  box-shadow: 0 24px 4px -24px #0771b8;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #272a31;
}

.content {
  border: solid 1px white;
  background-color: rgba(7, 113, 184, 0.3);
  padding: 20px;
}

body {
  max-width: 1024px;
  background: lightgray url("../../assets/imgs/ilustracion_colegio_elan_transparent.png") no-repeat fixed center;
  background-size: cover;
}

header .mobile-navbar {
  color: #272a31;
}
header .dropdown-toggle::after {
  display: none;
}
header .dropdown i {
  color: #272a31;
}
header .dropdown .dropdown-item {
  color: #0771b8;
  font: 700 16px/20px cocogoose, sans-serif;
}
header .nav-link {
  color: #0771b8;
  font: 700 16px/20px cocogoose, sans-serif;
}

footer .top-footer {
  background-color: lightgray;
}
footer .top-footer h3 {
  color: white;
}

.step {
  border: solid 1px white;
  border-radius: 20px;
}
.step li {
  color: #ec5242;
  list-style-position: outside;
}

.step1 {
  display: grid;
  grid-template: repeat(4, auto)/repeat(4, auto);
  border: 5px solid white;
}
.step1 .item {
  text-align: center;
  padding: 5px;
  font-family: "Lato", sans-serif;
  border: 1px solid white;
}
.step1 .item label {
  font-weight: bold;
  color: #ec5242;
}
.step1 .title {
  background-color: lightgray;
}

.bordered {
  border-image: linear-gradient(to bottom right, red 1%, white 1%, blue 1%);
  border-image-slice: 1;
}