@import "./styles.scss";

.introduction {
  font-family: cocogoose, sans-serif;

  h2 {
    width: 100%;
    text-align: left;
  }

  .title {
    color: $red;
    //background: url(../../assets/imgs/ilustracion_colegio_elan.svg) no-repeat;
    //background-image: linear-gradient(to bottom right, rgb(255 0 0), transparent, black);
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
    //background-size: 100%;
    font-size: 32px;
    font-weight: 700;
  }

  .date {
    font-family: $font-titles;
    color: $black;
    font-size: 22px;
    font-weight: 700;
  }

  .place {
    font-size: 12px;
  }
}

.program {
  background-image: url("../../assets/imgs/Black-background-metal-iphone-wallpaper-ilikewallpaper_com.jpg");
  background-repeat: repeat-x;
  color: white;

  h3 {
    color: white;
  }

  .program-table {
    .card-heading {
      color: $blue;
      font-weight: 900;
      margin-left: 1rem;
    }

    .row {
      background-color: $grey-transparent;
    }

    .card-text {
      text-align: left;
      padding-left: 1rem;
      color: white;

      @media screen and (min-width: 768px) {
        padding-left: 0;
      }
    }

    img {
      width: 50px;
    }

    @media screen and (min-width: 768px) {
      display: grid;
      margin-left: 5%;
      margin-right: 5%;
      grid-template-columns: repeat(5, 1fr);
      gap: 5px;

      .card-heading {
        padding: 0;
        margin: 0;
      }

      .card-text {
        text-align: center;
        padding: 0.5rem;
      }
    }
  }
}

.speaker {
  .chess {
    width: 100%;
  }

  .photo {
    position: absolute;
    top: 20px;
    left: 33px;
    width: 100%;
  }

  .name {
    font-family: $font-text;
    font-size: 18px;
    font-weight: 700;
  }

  .title {
    font-family: $font-text;
    color: $primary;
    font-style: italic;
    box-shadow: 0 24px 4px -24px $primary;
  }
}

.transition {
  .letter-E {
    @include topLeft(80px, -100%);
  }

  .letter-E1 {
    @include transformLetter(120px, 25%, 32px, 2s);

    @media (min-width: 768px) {
      @include transformLetter(100px, 27%, 44px, 2s);
    }

    @media (min-width: 1024px) {
      @include transformLetter(100px, 32%, 50px, 2s);
    }
  }

  .letter-L {
    top: 200%;
  }

  .letter-L1 {
    @include transformLetter(120px, 35%, 32px, 2s);

    @media (min-width: 768px) {
      @include transformLetter(100px, 34%, 44px, 2s);
    }

    @media (min-width: 1024px) {
      @include transformLetter(100px, 38%, 50px, 2s);
    }
  }

  .letter-A {
    @include topLeft(200%, 200%);
  }

  .letter-A1 {
    @include transformLetter(120px, 45%, 32px, 2s);

    @media (min-width: 768px) {
      @include transformLetter(100px, 41%, 44px, 2s);
    }

    @media (min-width: 1024px) {
      @include transformLetter(100px, 44%, 50px, 2s);
    }
  }

  .letter-N {
    @include topLeft(200%, 50%);
  }

  .letter-N1 {
    @include transformLetter(120px, 55%, 32px, 2s);

    @media (min-width: 768px) {
      @include transformLetter(100px, 48%, 44px, 2s);
    }

    @media (min-width: 1024px) {
      @include transformLetter(100px, 50%, 50px, 2s);
    }
  }

  .marble {
    position: absolute;
    animation: marble-bounce 2s ease-in;
    animation-delay: 6s;
    animation-fill-mode: forwards;

    @include topLeft(60px, 54%);

    img {
      width: 50px;
    }
  }

  @keyframes marble-bounce {
    0% {
      @include topLeft(55px, 55%);
    }

    100% {
      @include topLeft(90%, 90%);
    }
  }

  .number2 {
    position: absolute;
    animation: year-appear 0.5s ease-in;
    animation-delay: 8s;
    animation-fill-mode: both;

    @include topLeft(89%, 83%);
  }

  .marble-2 {
    position: absolute;
    animation: year-appear 0.5s ease-in;
    animation-delay: 8.5s;
    animation-fill-mode: both;

    @include topLeft(90%, 78%);
  }

  .number2-2 {
    position: absolute;
    animation: year-appear 0.5s ease-in;
    animation-delay: 9s;
    animation-fill-mode: both;

    @include topLeft(89%, 71%);
  }

  @keyframes year-appear {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }
}
