/////////////// FONTS

@font-face {
  font-family: "cocogoose";
  src: url("../../assets/fonts/cocogoose.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "cocogoose";
  src: url("../../assets/fonts/cocogoose-light.ttf");
  font-weight: 400;
}

// LATO: font-family: 'Lato', sans-serif;

/////////////// VARIABLES

$black: #272a31;
$red: #ec5242;
$grey: #d3d3d3;
$blue: #0771b8;

@mixin transformLetter($top, $left, $width, $time) {
  position: absolute;
  transform: rotate(360deg);
  transition: top $time, left $time, transform $time;
  transition-timing-function: ease-in-out;
  top: $top;
  left: $left;

  img {
    width: $width;
  }
}

/////////////// SCSS

body {
  max-width: 1024px;
}

header {
  .nav-link {
    color: $blue;
    font: 700 16px/20px cocogoose, sans-serif;
  }
}

.transition {
  .letter {
    transition: top 2s, right 2s, bottom 2s, left 2s, transform 2s;
    transition-timing-function: ease-in-out;
  }

  .letter-E {
    position: absolute;
    left: -100%;
    top: 80px;
  }

  .letter-E1 {
    @include transformLetter(120px, 25%, 32px, 2s);

    @media (min-width: 768px) {
      @include transformLetter(100px, 27%, 44px, 2s);
    }

    @media (min-width: 1024px) {
      @include transformLetter(100px, 32%, 50px, 2s);
    }
  }

  .letter-L {
    position: absolute;
    top: 200%;
  }

  .letter-L1 {
    @include transformLetter(120px, 35%, 32px, 2s);

    @media (min-width: 768px) {
      @include transformLetter(100px, 34%, 44px, 2s);
    }

    @media (min-width: 1024px) {
      @include transformLetter(100px, 38%, 50px, 2s);
    }
  }

  .letter-A {
    left: 200%;
    top: 200%;
  }

  .letter-A1 {
    @include transformLetter(120px, 45%, 32px, 2s);

    @media (min-width: 768px) {
      @include transformLetter(100px, 41%, 44px, 2s);
    }

    @media (min-width: 1024px) {
      @include transformLetter(100px, 44%, 50px, 2s);
    }
  }

  .letter-N {
    left: 50%;
    top: 200%;
  }

  .letter-N1 {
    @include transformLetter(120px, 55%, 32px, 2s);

    @media (min-width: 768px) {
      @include transformLetter(100px, 48%, 44px, 2s);
    }

    @media (min-width: 1024px) {
      @include transformLetter(100px, 50%, 50px, 2s);
    }
  }

  .marble {
    position: absolute;
    transform: rotate(360deg);
    top: 60px;
    left: 54%;
    animation: sk-bounce 2s ease-in;
    animation-delay: 6s;
    animation-fill-mode: forwards;

    img {
      width: 50px;
    }
  }

  @keyframes sk-bounce {
    0% {
      top: 55px;
      left: 55%;
    }

    100% {
      top: 90%;
      left: 90%;
    }
  }
}
