/////////////// FONTS

@font-face {
  font-family: "cocogoose";
  src: url("../../assets/fonts/cocogoose.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "cocogoose";
  src: url("../../assets/fonts/cocogoose-light.ttf");
  font-weight: 400;
}

// LATO: font-family: 'Lato', sans-serif;

/////////////// VARIABLES

$black: #272a31;
$red: #ec5242;
$grey: #d3d3d3;
$blue: #0771b8;

header {
  .nav-link {
    color: $blue;
    font: 700 16px/20px cocogoose, sans-serif;
  }
}
