/////////////// FONTS

@font-face {
  font-family: "cocogoose";
  src: url("../../assets/fonts/Cocogoose_trial.otf");
  font-weight: 700;
}

@font-face {
  font-family: "cocogoose";
  src: url("../../assets/fonts/cocogoose-light.ttf");
  font-weight: 400;
}

// LATO: font-family: 'Lato', sans-serif;

/////////////// VARIABLES

$black: #272a31;
$red: rgba(236, 82, 66, 1); //#EC5242
$grey: #d3d3d3;
$blue: rgba(7, 113, 184, 1); //#0771B8

@mixin topLeft ($top, $left) {
  top: $top;
  left: $left;
}

@mixin transformLetter($top, $left, $width, $time) {
  position: absolute;
  transform: rotate(360deg);
  transition: top $time, left $time, transform $time;
  transition-timing-function: ease-in-out;

  @include topLeft($top, $left);

  img {
    width: $width;
  }
}

/////////////// SCSS

body {
  max-width: 1024px;
  background: lightblue url("../../assets/imgs/ilustracion_colegio_elan_transparent.png") no-repeat fixed center;
  background-size: cover;
}

header {
  .mobile-navbar {
    color: $blue;
  }

  .dropdown {
    i {
      color: $blue;
    }

    .dropdown-item {
      color: $blue;
      font: 700 16px/20px cocogoose, sans-serif;
    }
  }

  .nav-link {
    color: $blue;
    font: 700 16px/20px cocogoose, sans-serif;
  }
}

.introduction {
  font-family: cocogoose, sans-serif;

  .intro {
    font-family: 'Lato', sans-serif;
    color: $blue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 20px;
    font-weight: 400;
  }

  .title {
    color: $blue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 32px;
    font-weight: 700;
  }

  .content {
    font-size: 12px;
    background-color: rgba(7, 113, 184, 0.3);
  }

  .date {
    font-size: 22px;
    font-weight: 700;
  }

  .place {
    font-size: 12px;
  }
}

.transition {
  .letter-E {
    @include topLeft(80px, -100%);
  }

  .letter-E1 {
    @include transformLetter(120px, 25%, 32px, 2s);

    @media (min-width: 768px) {
      @include transformLetter(100px, 27%, 44px, 2s);
    }

    @media (min-width: 1024px) {
      @include transformLetter(100px, 32%, 50px, 2s);
    }
  }

  .letter-L {
    top: 200%;
  }

  .letter-L1 {
    @include transformLetter(120px, 35%, 32px, 2s);

    @media (min-width: 768px) {
      @include transformLetter(100px, 34%, 44px, 2s);
    }

    @media (min-width: 1024px) {
      @include transformLetter(100px, 38%, 50px, 2s);
    }
  }

  .letter-A {
    @include topLeft(200%, 200%);
  }

  .letter-A1 {
    @include transformLetter(120px, 45%, 32px, 2s);

    @media (min-width: 768px) {
      @include transformLetter(100px, 41%, 44px, 2s);
    }

    @media (min-width: 1024px) {
      @include transformLetter(100px, 44%, 50px, 2s);
    }
  }

  .letter-N {
    @include topLeft(200%, 50%);
  }

  .letter-N1 {
    @include transformLetter(120px, 55%, 32px, 2s);

    @media (min-width: 768px) {
      @include transformLetter(100px, 48%, 44px, 2s);
    }

    @media (min-width: 1024px) {
      @include transformLetter(100px, 50%, 50px, 2s);
    }
  }

  .marble {
    position: absolute;
    animation: marble-bounce 2s ease-in;
    animation-delay: 6s;
    animation-fill-mode: forwards;

    @include topLeft(60px, 54%);

    img {
      width: 50px;
    }
  }

  @keyframes marble-bounce {
    0% {
      @include topLeft(55px, 55%);
    }

    100% {
      @include topLeft(90%, 90%);
    }
  }

  .number2 {
    position: absolute;
    animation: year-appear 0.5s ease-in;
    animation-delay: 8s;
    animation-fill-mode: both;

    @include topLeft(89%, 83%);
  }

  .marble-2 {
    position: absolute;
    animation: year-appear 0.5s ease-in;
    animation-delay: 8.5s;
    animation-fill-mode: both;

    @include topLeft(90%, 78%);
  }

  .number2-2 {
    position: absolute;
    animation: year-appear 0.5s ease-in;
    animation-delay: 9s;
    animation-fill-mode: both;

    @include topLeft(89%, 71%);
  }

  @keyframes year-appear {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }
}
