/////////////// FONTS

@font-face {
  font-family: "cocogoose";
  src: url("../../assets/fonts/Cocogoose_trial.otf");
  font-weight: 700;
}

@font-face {
  font-family: "cocogoose";
  src: url("../../assets/fonts/cocogoose-light.ttf");
  font-weight: 400;
}

// LATO: font-family: 'Lato', sans-serif;

/////////////// VARIABLES

$black: #272a31;
$red: rgba(236, 82, 66, 1); //#EC5242
$grey:rgba(211, 211, 211, 1);    //#d3d3d3;
$grey-transparent: rgba(211, 211, 211, 0.4);
$blue: rgba(7, 113, 184, 1); //#0771B8
$font-titles : cocogoose, sans-serif;
$font-text: 'Lato', sans-serif;
$primary: $blue;
$secundary: $grey;


@mixin topLeft ($top, $left) {
  top: $top;
  left: $left;
}

@mixin transformLetter($top, $left, $width, $time) {
  position: absolute;
  transform: rotate(360deg);
  transition: top $time, left $time, transform $time;
  transition-timing-function: ease-in-out;

  @include topLeft($top, $left);

  img {
    width: $width;
  }
}

/////////////// SCSS

h2 {
  font-family: $font-titles;
  font-size: 32px;
  font-weight: 700;
  color: $primary;
}

h3 {
  font-family: $font-text;
  font-size: 24px;
  color: $black;
  box-shadow: 0 24px 4px -24px $primary;
}

p {
  font-family: $font-text;
  font-size: 12px;
  color: $black;
}

.content {
  border: solid 1px white;
}

body {
  max-width: 1024px;
  background: lightgray url("../../assets/imgs/ilustracion_colegio_elan_transparent.png") no-repeat fixed center;
  background-size: cover;
}

header {
  .mobile-navbar {
    color: $black;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown {
    i {
      color: $black;
    }

    .dropdown-item {
      color: $blue;
      font: 700 16px/20px cocogoose, sans-serif;
    }
  }

  .nav-link {
    color: $blue;
    font: 700 16px/20px cocogoose, sans-serif;
  }
}
