@import "./styles.scss";

.step {
  border: solid 1px white;
  border-radius: 20px;

  li {
    color: $red;
    list-style-position: outside;
  }
}

.step1 {
  display: grid;
  grid-template: repeat(4, auto) / repeat(4, auto);
  border: 10px solid black;

  .item {
    text-align: center;
    padding: 5px;
    font-family: $font-text;
    border: 1px solid white;

    label {
      font-weight: bold;
      color: $red;
    }
  }

  .title {
    background-color: $secundary;
  }
}

.bordered {
  border-image: linear-gradient(-45deg, red 1px, white 1px, blue 1px) 1 stretch repeat;
  border-image-slice: 1;
}
