@import "./styles.scss";

.step {
  border: solid 1px white;
  border-radius: 200px;
  background-color: $secundary;

  ul {
    width: 40%;
    padding-inline-start: 25px;
  }

  li {
    color: $primary;
    list-style-position: outside;
    font-weight: bold;
  }
}

.step1 {
  display: grid;
  grid-template: repeat(4, auto) / repeat(5, auto);
  border: 10px solid $black;

  .item-combi {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .item {
    text-align: center;
    padding: 5px;
    font-family: $font-text;
    border: 1px solid white;

    label {
      font-weight: bold;
      color: $primary;
    }
  }

  .title {
    background-color: $secundary;
  }
}

.bordered {
  border: 4px solid $red;
}

.lunch {
  .title {
    width: 100%;
    background-color: $secundary;
    border: 1px solid white;
  }
}
